input[data-mj="game-catalog-game-search"].app-ltr-zpek89,
input[data-mj="game-catalog-provider-search"].app-ltr-191h9jm,
.sl-select__control.app-ltr-o1e5fm-control {
  background-color: #1e162f !important;
  border-color: #1e162f !important;
}

.sl-select__control.app-ltr-1hye55j-control {
  background-color: #251e33 !important;
  border-color: #2a2338 !important;
}

.sl-select__control.app-ltr-o1e5fm-control,
.sl-select__control.app-ltr-1hye55j-control {
  display: flex !important;
}

[data-mj="header"] {
  background-color: #1e162f !important;
  border-bottom: 1px solid rgb(255 255 255 / 10%) !important;
  box-shadow: none !important;
}

[data-mj="custom-header"],
[data-mj="custom-header"].app-ltr-1bdm31y,
[data-mj="custom-header"].app-ltr-17241jj {
  display: flex !important;
  background-color: #1e162f !important;
  border-bottom: 0 !important;
  box-shadow: none !important;
}

[data-mj="sidebar"].app-ltr-17u1px6 {
  width: 68px !important;
  padding: 0 !important;
}

[data-mj="sidebar"].app-ltr-1huuf1k {
  width: 260px !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

li[data-mj="sidebar-section"].app-ltr-io3k4 {
  display: flex !important;
  background-color: transparent !important;
  margin-bottom: 8px !important;
}

.app-ltr-i6bazn {
  height: auto !important;
  margin-left: 24px !important;
  border-left: 1px solid #ffffff21 !important;
  padding-top: 4px !important;
}

[data-mj="sidebar-content"] {
  border-right: 1px solid rgb(255 255 255 / 10%) !important;
  border-radius: 0 !important;
  padding: 0 12px 12px 6px !important;
}

[data-mj="content-wrapper"].app-ltr-fkpkqq {
  display: flex !important;
  max-width: calc(100% - 68px) !important;
  margin-right: initial !important;
}

.app-ltr-1trb7go {
  min-width: 20px !important;
  height: 20px !important;
  margin-right: 12px !important;
  font-size: 14px !important;
  font-weight: 300 !important;
}

.sl-navlink.app-ltr-1nwippo,
.sl-navlink.app-ltr-1cqr3zy {
  color: #bfb6d8 !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  padding: 4px 32px 4px 16px !important;
}

.sl-navlink.app-ltr-1cqr3zy.active-link {
  border-radius: 0 12px 12px 0 !important;
  background: #ffffff0d !important;
  color: rgb(236, 202, 101) !important;
}

.sl-navlink.app-ltr-1cqr3zy:hover {
  border-radius: 0 12px 12px 0 !important;
  background: #ffffff0d !important;
}

.app-ltr-ky0fxc {
  color: #bfb6d8 !important;
  font-size: 14px !important;
  font-weight: 300 !important;
}

.app-ltr-h5qxq2 {
  padding-left: 16px !important;
}

.app-ltr-1q5mnmx {
  scrollbar-gutter: unset !important;
  padding: 0 !important;
}

[data-mj="sidebar-footer"] {
  border-top: 0 !important;
  padding: 12px 0 0 12px !important;
}

[data-mj="sidebar-group"] {
  background-color: transparent !important;
  border-radius: 0 !important;
  min-height: 40px !important;
  font-weight: 300 !important;
}

.app-ltr-10a4mqi {
  background: #2a213f !important;
  border-radius: 12px !important;
  border: 1px solid rgb(53 46 68) !important;
  gap: 0px !important;
  margin: 12px 0px 12px 56px !important;
  padding: 12px 12px 0 12px !important;
}

button[aria-label="arrow_down"].sl-icon.app-ltr-6zgeic,
button[aria-label="arrow_up"].sl-icon.app-ltr-6zgeic {
  width: 32px !important;
  min-width: 32px !important;
  height: 32px !important;
  background-color: transparent !important;
  right: 6px !important;
}

.app-ltr-17y30q7,
.app-ltr-efiit2,
.app-ltr-1e9xm8a {
  border-color: #34274e !important;
  font-size: 14px !important;
  font-weight: 300 !important;
}

.app-ltr-17y30q7 {
  background-color: #1e162f !important;
}

.sl-select__control.app-ltr-96c07s-control {
  border-color: #34274e !important;
  background-color: #1e162f !important;
}

.sl-select__control.app-ltr-96c07s-control,
.app-ltr-17y30q7,
[data-mj="login-button"],
.app-ltr-1d93vvc,
.app-ltr-cvus8s,
button[aria-label="arrow_left"].sl-icon.app-ltr-1ucxo6b,
button[aria-label="arrow_right"].sl-icon.app-ltr-1ucxo6b,
button[aria-label="user"].sl-icon.app-ltr-1ucxo6b,
button[data-mj="sidebar-collapse"].sl-icon.app-ltr-16cu704,
button[data-mj="sidebar-collapse"].sl-icon.app-ltr-au4yrk,
button[aria-label="arrow_left"].sl-icon.app-ltr-1ius09c,
button[aria-label="arrow_right"].sl-icon.app-ltr-1ius09c,
button[aria-label="arrow_left"].sl-icon.app-ltr-v4gv5f,
button[aria-label="arrow_right"].sl-icon.app-ltr-v4gv5f,
button[data-mj="game-catalog-mobile-search-toggle"].sl-icon.app-ltr-j2g914,
[data-mj="game-catalog-category-slider-item"],
[data-mj="game-catalog-mobile-category-chip"] {
  border: 1px solid transparent !important;
  border-radius: 12px !important;
  box-shadow: none !important;
  background:
    linear-gradient(#241d33, #2b243b) padding-box,
    linear-gradient(164deg, rgb(50 49 55) 0%, rgb(47 37 67) 100%) border-box !important;
}

[data-mj="game-catalog-mobile-category-chip"].app-ltr-5kaam6 {
  border: 1px solid transparent !important;
  border-radius: 12px !important;
  box-shadow: none !important;
  background:
    linear-gradient(#241d33, #2b243b) padding-box,
    linear-gradient(164deg, rgb(50 49 55) 0%, rgb(47 37 67) 100%) border-box !important;
}

[data-mj="game-catalog-mobile-category-chip"].app-ltr-10n3b4e {
  border: 1px solid transparent !important;
  border-radius: 12px !important;
  box-shadow: none !important;
  background:
    linear-gradient(#241d33, #3a3056) padding-box,
    linear-gradient(177deg, rgb(233 215 148 / 16%) 30%, rgb(156 137 88) 100%) border-box !important;
}

[data-mj="game-catalog-category-slider-item"].app-ltr-11rdgdd {
  border: 1px solid transparent !important;
  border-radius: 12px !important;
  box-shadow: none !important;
  background:
    linear-gradient(#241d33, #3a3056) padding-box,
    linear-gradient(177deg, rgb(233 215 148 / 16%) 30%, rgb(156 137 88) 100%) border-box !important;
}

[data-mj="game-catalog-category-slider-item"]:hover {
  border: 1px solid transparent !important;
  border-radius: 12px !important;
  box-shadow: none !important;
  background:
    linear-gradient(#241d33, #3a3056) padding-box,
    linear-gradient(177deg, rgb(233 215 148 / 16%) 30%, rgb(156 137 88) 100%) border-box !important;
}

.app-ltr-efiit2,
.app-ltr-1e9xm8a {
  border: 1px solid transparent !important;
  border-radius: 12px !important;
  box-shadow: none !important;
}

[data-mj="login-button"] {
  background: linear-gradient(138.42deg, rgba(240, 225, 160, 1.00) 0%, rgba(194, 163, 87, 1.00) 100%) !important;
  color: #1e162f !important;
}

.app-ltr-1d93vvc,
.app-ltr-1e9xm8a {
  font-size: 14px !important;
  font-weight: 300 !important;
}

.app-ltr-1d93vvc {
  background: #1e162f !important;
  background-color: #1e162f !important;
}

button[data-mj="sidebar-collapse"][aria-label="arrow_right"].sl-icon.app-ltr-au4yrk {
  inset-inline-end: 14px !important;
  top: 8px !important;
  width: 42px !important;
  min-width: 42px !important;
  height: 42px !important;
}

button[data-mj="sidebar-collapse"][aria-label="arrow_left"].sl-icon.app-ltr-au4yrk {
  inset-inline-end: 207px !important;
  top: 12px !important;
  width: 42px !important;
  min-width: 42px !important;
  height: 42px !important;
}

.app-ltr-es55kh {
  background: #2a213f !important;
  border-radius: 12px !important;
  border: 1px solid rgb(53 46 68) !important;
  gap: 0px !important;
  margin-left: 5px !important;
  width: 42px !important;
  margin-top: 60px !important;
}

.css-hzxgfa.app-ltr-rnjuc1,
.app-ltr-1dmoq6l,
.app-ltr-t43k38 {
  color: #6a627b !important;
}

@media (max-width: 991px) {
  [data-mj="content-wrapper"].app-ltr-fkpkqq {
    max-width: none !important;
  }

  .app-ltr-10a4mqi {
    padding: 0 !important;
    margin: 12px 0px 12px 12px !important;
  }
}

@media (min-width: 992px) {
  [data-mj="sidebar-footer"],
  .app-ltr-10a4mqi {
    padding: 0 !important;
  }
}

svg[viewBox="0 0 24 24"][width="16px"][height="16px"] {
  width: 20px !important;
  height: 20px !important;
}
