/* Raidenbet custom styles */

[data-mj="logo"] {
  max-width: 72px !important;
}

@media (min-width: 1200px) {
  [data-mj="footer"].app-ltr-1ldnvmh,
  [data-mj="footer"].app-rtl-1ldnvmh {
    padding-bottom: 60px !important;
  }
}

[data-mj="widget-pages-item"] .app-ltr-lhbbxp,
[data-mj="widget-pages-item"] .app-rtl-lhbbxp {
  padding: 16px !important;
}

[data-mj="widget-pages-item"] .app-ltr-1uys7bq,
[data-mj="widget-pages-item"] .app-rtl-1uys7bq {
  text-align: left !important;
}

[data-mj="header-nav-item"] .app-ltr-1g3kp0t,
[data-mj="header-nav-item"] .app-rtl-1g3kp0t {
  font-weight: 300 !important;
}

.app-ltr-1q5mnmx {
  padding: 16px !important;
}
