[data-mj="widget-phoenix-sport-container"] .ph-event-header,
#ph-sport-widget .ph-event-header {
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  padding: 4px !important;
}

[data-mj="widget-phoenix-sport-container"] .ph-outcome,
#ph-sport-widget .ph-outcome {
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
}

[data-mj="widget-phoenix-sport-container"] .ph-participant,
#ph-sport-widget .ph-participant {
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border-radius: 4px !important;
  padding: 2px !important;
}

[data-mj="widget-phoenix-sport-header"] .inancbet-slider-controls {
  display: inline-flex !important;
  align-items: center !important;
  gap: 4px !important;
  margin-inline-start: 8px !important;
}

[data-mj="widget-phoenix-sport-header"] .inancbet-slider-control {
  flex: 0 0 auto !important;
}

html body [data-state][aria-haspopup="dialog"].app-ltr-1pc9g43 > .app-ltr-15c2koi {
  flex-direction: row-reverse !important;
}

@media (max-width: 768px) {
  html body .app-ltr-15c2koi,
  html body [class~="app-ltr-15c2koi"] {
    flex-direction: row-reverse !important;
  }
}
