@import url("./escortesnew-custom.css");

[data-mj="widget-info-panel-content"] {
  display: none !important;
}

[data-mj="widget-info-panel-container"] > stories-widget {
  display: block;
  width: 100%;
  margin: 0 0 20px;
}
