[data-mj="sidebar"].app-ltr-1huuf1k {
  width: 260px !important;
  padding: 0 !important;
}

[data-mj="sidebar"].app-ltr-17u1px6 {
  width: 80px !important;
  padding: 0 !important;
}

[data-mj="sidebar-content"] {
  background-color: #1a1c1c !important;
  border-right: 1px solid rgb(255 255 255 / 10%) !important;
  border-radius: 0 !important;
}

[data-mj="content-wrapper"].app-ltr-fkpkqq {
  display: flex !important;
  max-width: calc(100% - 80px) !important;
}

[data-mj="header"] {
  border-bottom: 1px solid rgb(255 255 255 / 10%) !important;
  box-shadow: none !important;
}

[data-mj="header"] {
  position: relative !important;
}

[data-mj="header-left"] {
  position: relative !important;
  padding-right: 170px !important;
}

.app-ltr-10a4mqi {
  position: absolute !important;
  top: 50% !important;
  left: 100% !important;
  transform: translateY(-50%) !important;
  margin: 0 !important;
  z-index: 50 !important;
}
