html {
  min-height: 100%;
  background: #062635;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #062635;
  background-image: linear-gradient(rgba(1, 15, 27, 0.3), rgba(1, 15, 27, 0.3)),
    url("assets/page-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
