/* Hugewin custom styles */

[data-mj="header"] {
  position: fixed !important;
  background-color: #191d26 !important;
}

[aria-label="site-header"] {
  background-color: #191d26 !important;
}

.app-ltr-i58pjb {
  max-width: none !important;
}

[data-mj="sidebar"],
[data-mj="content-wrapper"] {
  margin-top: 64px !important;
}

[data-mj="sidebar"].app-ltr-1huuf1k {
  padding: 0 !important;
  width: 260px !important;
}

[data-mj="sidebar"].app-ltr-17u1px6 {
  padding: 0 !important;
  width: 68px !important;
}

button[aria-label="arrow_right"] {
  inset-inline-end: 14px !important;
  top: -52px !important;
  transition: none !important;
  animation: none !important;
  transform: none !important;
}

button[aria-label="arrow_left"] {
  inset-inline-end: 204px !important;
  top: -52px !important;
  transition: none !important;
  animation: none !important;
  transform: none !important;
}

button[aria-label="arrow_left"] > svg,
button[aria-label="arrow_right"] > svg {
  transition: none !important;
  animation: none !important;
  transform: none !important;
}
