/* Hugewin custom styles */

[data-mj="header"] {
  position: fixed !important;
  background-color: #191d26 !important;
}

[aria-label="site-header"] {
  background-color: #191d26 !important;
}

.app-ltr-i58pjb {
  max-width: none !important;
}

[data-mj="sidebar"],
[data-mj="content-wrapper"] {
  margin-top: 64px !important;
}

[data-mj="sidebar"].app-ltr-1huuf1k {
  padding: 0 !important;
  width: 260px !important;
}

[data-mj="sidebar"].app-ltr-17u1px6 {
  padding: 0 !important;
  width: 68px !important;
}

button[data-mj="sidebar-collapse"][aria-label="arrow_right"] {
  position: absolute !important;
  inset-inline-end: 12px !important;
  top: -55px !important;
  width: 41px !important;
  min-width: 41px !important;
  height: 41px !important;
}

button[data-mj="sidebar-collapse"][aria-label="arrow_left"] {
  position: absolute !important;
  inset-inline-end: 202px !important;
  top: -55px !important;
  width: 41px !important;
  min-width: 41px !important;
  height: 41px !important;
}
