/* Beybets custom styles */

[data-mj="header"] {
  box-shadow: none !important;
}

@media (min-width: 992px) {
  [data-mj="content-wrapper"] {
    max-width: calc(100% - 96px) !important;
  }
}

[data-mj="sidebar"] {
  padding: 8px !important;
}

[data-mj="sidebar"].app-ltr-17u1px6 {
  width: 96px !important;
}

[data-mj="sidebar"].app-ltr-1huuf1k {
  width: 260px !important;
}

.sl-navlink.app-ltr-1fwv5e8 {
  font-size: 14px !important;
  font-weight: 300 !important;
}

li[data-mj="sidebar-section"].app-ltr-6crnis
  > .app-ltr-8atqhb
  > .sl-navlink.app-ltr-1fwv5e8
  > .app-ltr-1trb7go {
  width: 20px !important;
  min-width: 20px !important;
  height: 20px !important;
}

[data-mj="game-catalog-mobile-category-chip"].app-ltr-ym8a8q,
[data-mj="game-catalog-category-slider-item"].app-ltr-1q03lhd {
  font-size: 14px !important;
  font-weight: 300 !important;
  background: #364551 !important;
  color: #B5B8C3 !important;
  box-shadow: none !important;
}

[data-mj="game-catalog-category-slider-item"].app-ltr-1vffkr3,
[data-mj="game-catalog-mobile-category-chip"].app-ltr-h7o1hn {
  font-size: 14px !important;
  font-weight: 300 !important;
  background: #364551 !important;
  color: rgb(71, 255, 151) !important;
}
